---
import Base from "./../../layouts/site-note.astro";
import { getEntry } from "astro:content";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const notas = await getCollection("notas");
    return notas.map((notas) => ({
        params: { slug: notas.slug },
        props: { slug: notas.slug },
    }));
}
const { slug } = Astro.props;
const nota = await getEntry("notas", slug);
if (!nota) throw new Error(`Nota no encontrada: ${slug}`);
const { Content } = await render(nota);
console.log(nota.data.image);
---

<Base
    Title={nota.data.title}
    Description={nota.data.description}
    Img={nota.data.image}
    ImgAlt={nota.data.imageAlt}
    Path={`/notas/${nota.slug}`}
>
    <section>
        <Content />
    </section>
</Base>
