---
import { getEntry } from "astro:content";
import { getCollection, render } from "astro:content";
import Base from "../../layouts/Notes.astro";

export async function getStaticPaths() {
    const notes = await getCollection("note");
    return notes.map((note) => ({
        params: { slug: note.slug },
        props: { slug: note.slug },
    }));
}
const { slug } = Astro.props;
const note = await getEntry("note", slug);
if (!note) throw new Error(`Nota no encontrada: ${slug}`);
const { Content } = await render(note);
console.log(note.data.image);
---

<Base
    Title={note.data.title}
    Description={note.data.description}
    Img={note.data.image}
    ImgAlt={note.data.imageAlt}
    Path={`/note/${note.slug}`}
>
    <section>
        <Content />
    </section>
</Base>
