---
import Base from "./../../layouts/site-carpeta.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const notas = await getCollection("notas");
    const carpetas = [...new Set(notas.map((n) => n.data.folder))];

    return carpetas.map((carpeta) => ({
        params: { carpeta },
        props: { carpeta },
    }));
}

const { carpeta } = Astro.props;
const todasLasNotas = await getCollection("notas");
const notasEnCarpeta = todasLasNotas.filter((n) => n.data.folder === carpeta);
---

<Base Title={carpeta} Path={`/notas/${carpeta}`}>
    <section class="notes-folder">
        <h2>Todas las notas</h2>
        <div class="list-notes">
            <nav>
                <ul>
                    {
                        notasEnCarpeta.map((note) => (
                            <li>
                                <a href={note.slug}>
                                    <i class="fa-solid fa-file" />
                                    {note.data.title}
                                </a>
                                <a href={note.slug}>→</a>
                            </li>
                        ))
                    }
                </ul>
            </nav>
            <ol></ol>
        </div>
    </section>
</Base>
