---
import "./../css/notas.css";
import Base from "./../layouts/site-base.astro";
import Carpeta from "./../components/bloques/tarjetaNota.astro";
import { getCollection } from "astro:content";

const allNotes = await getCollection("notas");

const grouped = new Map<string, number>();
for (const note of allNotes) {
    const cat = note.data.folder;
    grouped.set(cat, (grouped.get(cat) || 0) + 1);
}
const isIndex = true;
---

<Base isIndex={isIndex}>
    <section class="all-notes">
        <h1>Carpetas de apuntes</h1>
        <div class="folder-list">
            {
                Array.from(grouped.entries()).map(([folder, count]) => (
                    <a class="link-folder" href={`/note/${folder}`}>
                        <Carpeta
                            imagePath={`/src/content/notas/${folder}/img.png`}
                            title={folder}
                            noteNumber={count}
                        />
                    </a>
                ))
            }
        </div>
    </section>
</Base>
