---
import Base from "./../layouts/Layout.astro";
import { getCollection } from "astro:content";
const allNotes = await getCollection("note");
const grouped = new Map<string, number>();
for (const note of allNotes) {
    const cat = note.data.folder;
    grouped.set(cat, (grouped.get(cat) || 0) + 1);
}
const printHero = true;
---

<Base PrintHero={printHero}>
    <section class="all-notes">
        <h1>Carpetas de apuntes</h1>
        <div class="folder-list">
            {
                Array.from(grouped.entries()).map(([folder, count]) => (
                    <a href={`/note/${folder}`}>
                        <article class="folder">

                                <img
                                    src={`/src/content/note/${folder}/img.png`}
                                    alt={`Carpeta de ${folder}`}
                                />
                            <h2>{folder}</h2>
                            <p>{count} notas</p>
                        </article>
                    </a>
                ))
            }
        </div>
    </section>
</Base>
<style>
    .all-notes {
        h1 {
            font-size: 2rem;
            font-family: "Josefin Sans";
            margin-block-end: 4rem;
        }
        width: 80%;
        margin-block-end:2rem;
        .folder-list {
            display: flex;
            width: 100%;
            min-height: 15rem;
            .folder {
                display: flex;
                flex-direction:column;
                text-align: center;
                margin-inline: 2rem;
                overflow: hidden;
                width: 14rem;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s ease;
                &:hover {
                    transform: scale(1.05);
                }
                img {
                        margin: 0;
                        width: 100%;
                        aspect-ratio: 1/1;
                        border-radius: 15px;
                    }
                }
                h2 {
                    margin: 0;
                    margin-block-start: 0.3rem;
                    padding: 0;
                    font-family: "Inter";
                }
                h2::first-letter {
                    text-transform: uppercase;
                }
                p{
                    margin:0;
                    padding:0;
                    font-size: 0.8rem;
                    font-family:"Inter";
                }
            }
        }
    }
</style>
