---
import Meta from "../components/metaDinamic.astro";
import Creative from "../components/footer/creative.astro";
import "./../css/notas.css";
const { Title, Description, Img, ImgAlt, Path } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{Title}</title>
        <Meta
            Title={Title}
            Description={Description}
            Img={Img}
            ImgAlt={ImgAlt}
            Path={Path}
        />
    </head>
    <body>
        <aside><p>This is aside</p></aside>
        <main>
            <article>
                <header>
                    <h1>{Title}</h1>
                </header>
                <section>
                    <slot />
                </section>
            </article>
        </main>
        <footer>
            <Creative />
        </footer>
    </body>
</html>
